<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>Feedback</ion-title>
    </ion-toolbar>
  </ion-header>
  <body>
    <div id="panel" class="panel-container">
      <strong>How satisfied are you with our <br /> user interface?</strong>
      <div class="ratings-container">
        <div class="rating">
          <ion-icon name="sad-outline" size="large"></ion-icon>
          <small>Unhappy</small>
        </div>
        <div class="rating active">
          <ion-icon name="happy-outline" size="large"></ion-icon>
          <small>Satisfied</small>
        </div>
      </div>
      <textarea id="subject" name="subject" placeholder="Write something.." style="height:90px"></textarea>
      <button class="btn" id="send">Send Review</button>
    </div>
  </body>

</ion-content>
