<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
<ion-card>
  <ion-card-header>
    <ion-card-title><b>Discovering Dinosaurs: </b></ion-card-title>
  </ion-card-header>
  <img class="GFG" src="assets/dino.png" style="border-radius: 15px;" alt="image">
  <ion-card-content>
    The Dinosphere is far more than just a speedy walk through of dinosaur skeletons. There are controls to engage learning, faux x-rays to see dinosaur bones, visual “binoculars” to take a closer look at dinosaurs, crawling tunnels and even a Paleo Prep Lab where you can watch scientists uncover and care for dinosaur bones!   </ion-card-content>
  </ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title><b>Exploring Space: </b></ion-card-title>
  </ion-card-header>
  <img class="GFG" src="assets/dino1.png" style="border-radius: 15px;" alt="image">
  <ion-card-content>
    This walk through ISS exhibit is pretty epic and perfect for your budding astronauts. I really felt like I was walking through a NASA pod! It even comes with a stunning view of Earth!
     </ion-card-content>
  </ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title><b>Fashion & Design: </b></ion-card-title>
  </ion-card-header>
  <img class="GFG" src="assets/dino2.png" style="border-radius: 15px;" alt="image">
  <ion-card-content>
    Upstairs is the American POP exhibit, which kids really wanted to see. There were many displays of older games, 
    toys and collectibles here behind glass but there was plenty for kids to do! They can parked themself at the fashion design table here and spent quite a while creating there own 
    fashion trends and dresses on 3D printed mannequins! As you can see there are plenty of stations and fabrics to work with!     </ion-card-content>
  </ion-card>
