<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <div class="example">
    <img src="assets\pexels-ekaterina-nikitina-12452468.jpg" />
    <p>State Heritage Museum</p>	
  </div>
  

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle style="color:maroon">Rome. End of 1st century</ion-card-subtitle>
      <ion-card-title><b>Statue of Jupiter </b></ion-card-title>
    </ion-card-header>
    <img src="assets/rock.png" style="border-radius: 15px;" alt="image">
    <ion-card-content>
      The Statue of Jupiter is by a Roman Flavian sculptor. The composition and manner of execution of the statue, as well as its character generally are reminiscent of the renowned Classical period Zeus by Phidias, made for the Temple of Zeus at Olympia. 
     </ion-card-content>
  </ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle style="color:maroon"> Ancient Rome. Early 2nd century A.D.</ion-card-subtitle>
    <ion-card-title><b>Bust of a Young Roman </b></ion-card-title>
  </ion-card-header>
  <img src="assets/rock1.png" style="border-radius: 15px;" alt="image">
  <ion-card-content>
    This portrait was formerly thought to depict Marcus Junius Brutus, a republican and one of the murderers of Julius Caesar. But the large scale of the bust, the plasticity of the forms, the ability to single out the most important of many details, the nature of the hairstyle with the fringe combed down onto the forehead.   </ion-card-content>
  </ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle style="color:maroon"> George DaweNo later than 1825</ion-card-subtitle>
    <ion-card-title><b>Portrait of General Pyotr Bagration (1765-1812)</b></ion-card-title>
  </ion-card-header>
  <img src="assets/rock2.png" style="border-radius: 15px;" alt="image">
  <ion-card-content>
    In 1819 George Dawe arrived in Russia at the invitation of Emperor Alexander I to paint portraits of the heroes of the Napoleonic Wars for a War Gallery in the Winter Palace. In some cases these portraits could not be taken from the life, if the general had died in battle or from wounds received. In such cases the artist had to turn to existing images and this portrait of General Pyotr Bagration was taken from an earlier engraving and pencil sketches.   </ion-card-content>
  </ion-card>